<!DOCTYPE html>
<html>
<head>
    
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
localStorage.setItem("lastname", "Smith");
localStorage.getItem("lastname");
var app = angular.module('formApp', []);
app.controller('formCtrl', function ($scope)
 {
   $scope.sendForm = function () 
 {
   $scope.msg='Form Submited Successfully';
 };
  $scope.getClass = function (color)
 {
    return color.toString();
}
});
</script>

<style>
.valid.false {
background: red;
}
.valid.true {
background: green;
}
.error {
color: red;
}

input.ng-invalid {
        background-color:yellow;
    }
    input.ng-valid {
        background-color:lightgreen;
    }
    h1 {text-align: center;}
    
</style>
</head>
<body ng-app="formApp" ng-controller="formCtrl">
<h1>Form validation demo app in AngularJs</h1>
<form name="personForm" ng-submit="sendForm()">

<h2>
<label for="name">Name</label>
<input id="name" name="name" type="text" ng-model="person.name" placeholder="Enter name" required />
<span class="error" ng-show="personForm.name.$error.required"> Required! </span>
</h2>
<br /><br />

<h2>
<label for="adress">Adress</label>
<input id="address" name="address" type="text" ng-model="person.address" placeholder="Enter address" required />
<span class="error" ng-show="personForm.address.$error.required"> Required! </span>
</h2>
<br /><br />


<h2>
<label for="contact">Contact No</label>

<input id="mobile" name="mobile" type="number" ng-pattern="regex" placeholder="Enter contact Number" ng-model="person.mobile" required />
<span class="error" ng-show="personForm.mobile.$error.required">Required number!</span>
<span class="error" ng-show="personForm.mobile.$error.mobile">Invalid mobile!</span>

</h2>
<br /><br />


<h2>
<label for="email">Email</label>
<input id="email" name="email" type="email" ng-model="person.email" ng-pattern="regex" placeholder="Enter valid email" minlength=10 maxlength=10 required />
<span class="error" ng-show="personForm.email.$error.required">Required!</span>
<span class="error" ng-show="personForm.email.$error.email">Invalid Email!</span>
</h2>
<br /><br />


<h2>
<input type="checkbox" ng-model="terms" name="terms" id="terms" required />
<label for="terms">I Agree to the terms.</label>
</h2>
<span class="error" ng-show="personForm.terms.$error.required">You must agree to the terms</span>
<br /><br />
<h2>
<button type="submit">Submit Form</button>
</h2>
<br /><br />


<span>{{msg}}</span>
</form>
<body style="background-image: url('kddd.webp');"></p>
</body>
</html>